DS18B20_ESP_MULT_RASP/Flow_4sensor_esp_rasp.json
[{"id":"e074a11.f0e1c6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"27f5fcc9.6bd924","type":"ui_gauge","z":"e074a11.f0e1c6","name":"","group":"f57da2b7.9bf89","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"6779c49d.af539c","type":"mqtt in","z":"e074a11.f0e1c6","name":"","topic":"/device/sensor1","qos":"0","datatype":"utf8","broker":"6535168c.1a9e68","x":280,"y":300,"wires":[["27f5fcc9.6bd924","be6a093c.d746d8","afe719f3.70b2f8"]]},{"id":"d55a232b.d71c2","type":"csv","z":"e074a11.f0e1c6","name":"","sep":" ","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":930,"y":400,"wires":[["5468378a.42d5d8"]]},{"id":"45f9c3f0.6f012c","type":"file","z":"e074a11.f0e1c6","name":"","filename":"/home/pi/sensor4_sent_esp.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1210,"y":460,"wires":[[]]},{"id":"5468378a.42d5d8","type":"debug","z":"e074a11.f0e1c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":380,"wires":[]},{"id":"7448f6cc.3dcbe8","type":"mqtt in","z":"e074a11.f0e1c6","name":"","topic":"/device/sensor2","qos":"0","datatype":"utf8","broker":"6535168c.1a9e68","x":280,"y":380,"wires":[["be6a093c.d746d8","afe719f3.70b2f8"]]},{"id":"be6a093c.d746d8","type":"join","z":"e074a11.f0e1c6","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"3","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":520,"wires":[["d55a232b.d71c2","daff9d57.c0a26"]]},{"id":"2c47b92.cafe346","type":"e-mail","z":"e074a11.f0e1c6","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"cudar.iot@gmail.com","dname":"","x":1060,"y":660,"wires":[]},{"id":"b2d4a41d.423d18","type":"function","z":"e074a11.f0e1c6","name":"Adjunta Excel","func":"\nmsg= {\n    attachments :{\n        filename: 'data_esp.csv',\n        path: '/home/pi/sensor4_sent_esp.csv'\n    }\n}\nmsg.payload = \"Adjunta excel\";\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":660,"wires":[["2c47b92.cafe346"]]},{"id":"c3e6d0e8.28c7c","type":"inject","z":"e074a11.f0e1c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":660,"wires":[["b2d4a41d.423d18"]]},{"id":"daff9d57.c0a26","type":"debug","z":"e074a11.f0e1c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":300,"wires":[]},{"id":"38d38b19.8400a4","type":"mqtt in","z":"e074a11.f0e1c6","name":"","topic":"/device/sensor3","qos":"0","datatype":"utf8","broker":"6535168c.1a9e68","x":280,"y":460,"wires":[["be6a093c.d746d8","afe719f3.70b2f8"]]},{"id":"c7ebad2d.b931c","type":"mqtt in","z":"e074a11.f0e1c6","name":"","topic":"/device/sensor4","qos":"0","datatype":"utf8","broker":"6535168c.1a9e68","x":280,"y":540,"wires":[["be6a093c.d746d8","afe719f3.70b2f8"]]},{"id":"afe719f3.70b2f8","type":"debug","z":"e074a11.f0e1c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":300,"wires":[]},{"id":"f57da2b7.9bf89","type":"ui_group","z":"","name":"Temperature","tab":"ae9f0c7e.0141e","order":1,"disp":true,"width":"6","collapse":false},{"id":"6535168c.1a9e68","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.50","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ae9f0c7e.0141e","type":"ui_tab","z":"","name":"Home","icon":"Tablero 1","disabled":false,"hidden":false}]